/* * { */
/*   box-sizing: border-box; */
/*   padding: 0; */
/*   margin: 0; */
/*   font-weight: 100; */
/* } */

:root {
  --text-color: #06c006;
}

body {
  font-family: "Roboto Mono", sans-serif;
  background-color: rgb(32, 29, 29);
  color: rgb(236, 236, 236);
  font-size: 15px;
  line-height: 1.2;
  font-weight: 100;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

nav ul li {
  cursor: pointer;
}

.wb-body {
  background: #111;
  padding: 20px;
}

.hidden {
  display: none;
}

.cursor {
  margin-left: 5px;
  animation: 1s blink step-end infinite;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0.5em;
  text-align: center;
  background-color: rgb(32, 29, 29);
}

section {
  margin-top: 2em;
  margin-bottom: 2em;
}

h4 {
  font-weight: 600;
  margin-bottom: 0.5em;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }

  50% {
    color: var(--text-color);
  }
}

#content {
  width: 50%;
  max-width: 800px;
  margin: 2em auto;
  padding-bottom: 4em;
}

header#prompt {
  width: 100%;
  margin-bottom: 1em;
  font-weight: 900;
}

@media screen and (max-width: 1200px) {
  #content {
    width: 90%;
  }

  img {
    max-width: 80%;
  }
}
