* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --text-color: #0d6e0d;
}

body {
  font-family: "Roboto Mono", sans-serif;
  background-color: rgb(32, 29, 29);
  color: rgb(236, 236, 236);
  font-size: 16px;
  line-height: 1.2;
}

ul {
  list-style-type: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

p {
  margin: 20px 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  color: var(--text-color);
  cursor: pointer;
}

.wb-body {
  background: #111;
  padding: 20px;
}

.hidden {
  display: none;
}

.cursor {
  font-weight: 700;
  animation: 1s blink step-end infinite;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0.5em;
  text-align: center;
  background-color: rgb(32, 29, 29);
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }

  50% {
    color: var(--text-color);
  }
}

#about {
  font-weight: 200;
}

#content {
  width: 50%;
  margin: 2em auto;
  padding-bottom: 4em;
}

header {
  width: 100%;
  margin-bottom: 1em;
  font-weight: 900;
}

@media screen and (max-width: 800px) {
  #content {
    width: 90%;
  }

  header {
    width: 800px;
  }

  img {
    max-width: 80%;
  }
}
